<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>New Route</title>
  </head>

  <body>
    <header>
      <!-- Navigation Bar -->
      <nav>
        <div class="nav-wrapper">
          <ul class="left">
            <li class="left-align"><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">more_vert</i></a></li>
          </ul>
          <ul class="right">
            <li><h4>Schedulr</h4></li>
            <li><p>where schedulng happens</p></li>
          </ul>
        </div>
      </nav>
      <!-- Sidenav Menu -->
      <ul id="slide-out" class="sidenav center">
        <!-- Title element for Sidenav -->
        <li><h3>Queue</h3></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <!-- List drivers below under heading -->
            <li>
              <a class="collapsible-header"><h6>Drivers</h6></a>
              <!-- Dynamically generate list of driver names below -->
              <div class="collapsible-body">
                <ul>
                  <!-- for every driver in our drivers array -->
                  <% for (let driver of drivers) { %>
                    <!-- check the routes that have been assigned and see if our driver is 'included' in that list -->
                    <% if (!assigned.filter(route => route.driver !== undefined).includes(driver)) { %>
                      <!-- if they are not currently assigned to a route, list them below -->
                      <li><%= driver.name %></li>
                    <% } %>
                  <% } %>
                </ul>
              </div>
            </li>
            <!-- List unassigned routes below -->
            <li>
              <a class="collapsible-header"><h6>Routes</h6></a>
              <!-- Dynnamically generate list of unassigned routes -->
              <div class="collapsible-body">
                <ul>
                  <% for (let route of unassigned) { %>
                    <% if (!route.driver_id || !route.truck_id) { %>
                      <li><%= route.name %></li>
                    <% } %>
                  <% } %>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <!-- Assign Schedules Button -->
        <li>
          <form action="/homepage" method="post">
            <button class="btn" type="submit">Schedule</button>
          </form>
        </li>
      </ul>
    </header>

    <!-- Page Content Goes Below -->
    <main>
      <div class="container-fluid">
        <!-- Welcome Message -->
        <div class="row">
          <div class="col s12">
            <h3 class="center-align">Welcome back <%= user.user_name %></h3>
          </div>
        </div>
        <!-- Calendar View -->
        <div class="row">
          <table>
            <!-- Headings for table -->
            <thead>
              <th class="center">Sun</th>
              <th class="center">Mon</th>
              <th class="center">Tue</th>
              <th class="center">Wed</th>
              <th class="center">Thur</th>
              <th class="center">Fri</th>
              <th class="center">Sat</th>
            </thead>
            <!-- Table body -->
            <tbody>
              <!-- # of table rows will be equal to # of routes on day with most routes -->
              <% for (let i = 0; i < longestDay; i++) { %>
              <tr>
                <!-- # of table data cells will be 7/row, ie one for each day -->
                <!-- Sunday -->
                <td class="center">
                  <% if (sunday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><%= sunday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal1" class="modal">
                        <div class="modal-content">
                          <h4><%= sunday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= sunday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= sunday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= sunday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= sunday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= sunday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% sunday = sunday.splice(1) %>
                  <% } %>
                </td>
                <!-- Monday -->
                <td class="center">
                  <% if (monday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal2"><%= monday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal2" class="modal">
                        <div class="modal-content">
                          <h4><%= monday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= monday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= monday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= monday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= monday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= monday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% monday = monday.splice(1) %>
                  <% } %>
                </td>
                <!-- Tuesday -->
                <td class="center">
                  <% if (tuesday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal3"><%= tuesday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal3" class="modal">
                        <div class="modal-content">
                          <h4><%= tuesday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= tuesday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= tuesday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= tuesday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= tuesday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= tuesday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% tuesday = tuesday.splice(1) %>
                  <% } %>
                </td>
                <!-- Wednesday -->
                <td class="center">
                  <% if (wednesday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal4"><%= wednesday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal4" class="modal">
                        <div class="modal-content">
                          <h4><%= wednesday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= wednesday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= wednesday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= wednesday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= wednesday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= wednesday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% wednesday = wednesday.splice(1) %>
                  <% } %>
                </td>
                <!-- Thursday -->
                <td class="center">
                  <% if (thursday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal5"><%= thursday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal5" class="modal">
                        <div class="modal-content">
                          <h4><%= thursday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= thursday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= thursday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= thursday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= thursday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= thursday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% thursday = thursday.splice(1) %>
                  <% } %>
                </td>
                <!-- Friday -->
                <td class="center">
                  <% if (friday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal6"><%= friday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal6" class="modal">
                        <div class="modal-content">
                          <h4><%= friday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= friday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= friday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= friday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= friday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= friday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% friday = friday.splice(1) %>
                  <% } %>
                </td>
                <!-- Saturday -->
                <td class="center">
                  <% if (saturday[0]) { %>
                    <!-- Modal Trigger -->
                      <a class="waves-effect waves-light btn modal-trigger" href="#modal7"><%= saturday[0].name %></a>
                      <!-- Modal Structure -->
                      <div id="modal7" class="modal">
                        <div class="modal-content">
                          <h4><%= saturday[0].name %></h4>
                          <h6><strong>Day:</strong></h6>
                          <p><%= saturday[0].day %></p>
                          <h6><strong>Pickup Time:</strong></h6>
                          <p><%= saturday[0].pickup_time %></p>
                          <h6><strong>Destination:</strong></h6>
                          <p><%= saturday[0].destination %></p>
                          <h6><strong>Driver:</strong></h6>
                          <p><%= saturday[0].driver_id %></p>
                          <h6><strong>Assigned Truck:</strong></h6>
                          <p><%= saturday[0].truck_id %></p>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Back</a>
                        </div>
                      </div>
                    <% saturday = saturday.splice(1) %>
                  <% } %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <!-- Buttons -->
        <div class="row center">
          <div class="col s4">
            <a href="/new_driver"><button class="waves-effect waves-light btn" type="button" name="button">Create New Driver</button></a>
          </div>
          <div class="col s4">
            <a href="/new_truck"><button class="waves-effect waves-light btn" type="button" name="button">Create New Truck</button></a>
          </div>
          <div class="col s4">
            <a href="/new_route"><button class="waves-effect waves-light btn" type="button" name="button">Create New Route</button></a>
          </div>
        </div>

      </div>
    </main>

    <!-- Initialize Materialize components -->
    <script src="/javascript/initializeMaterialize.js"></script>
  </body>
</html>
